/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.email-form {
    margin-top: 50%;
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.email-form h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.email-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.email-form input,
.email-form select,
.email-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.email-form textarea {
    resize: none;
    height: 100px;
}

.email-form input[type="file"] {
    padding: 0;
}

.email-form button {
    width: 100%;
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.email-form button:hover {
    background-color: #0056b3;
}

.email-form .ppay {
    margin: 10px 0;
    font-size: 14px;
    color: #666;
    text-align: center;
}

#paymentNotification {
    margin-top: 10px;
}

legend {
    font-weight: bold;
    margin: 20px 0 10px 0;
    color: #333;
}
